<div class="home-banner">
  <h1>MANY TOO MANY</h1>

  <div class="screen">
    <h3>BECAUSE 1 : N IS NEVER ENOUGH</h3>
  </div>

  <%= link_to "Add Your Drink", new_cocktail_path, class: "btn btn-primary" %>
</div>

<div class="container">
  <div class="row">

    <% @cocktails.each do |c| %>

      <div class="col-xs-12 col-sm-4">



        <div class="card">
          <%= link_to cocktail_path(c.id), class: "card-link" do %>
          <div class="card-description">
            <h2><%= c.name %></h2>
            <p>(<%= c.stars %> votes)</p>
          </div>
          <% end %>

        </div>

      </div>

    <% end %>

  </div>
</div>


